apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: inventory-system

bases:
  - ../../base

namePrefix: prd-

patches:
  - target:
      kind: Deployment
      name: inventory-system-app
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3

configMapGenerator:
  - name: inventory-config
    behavior: merge
    literals:
      - ENV=prd

commonLabels:
  environment: prd
