apiVersion: v1
kind: Service
metadata:
  name: inventory-system-service
  namespace: inventory-system
  labels:
    app: inventory-system
spec:
  type: LoadBalancer
  selector:
    app: inventory-system
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  sessionAffinity: None
