apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: inventory-system

bases:
  - ../../base

namePrefix: dev-

patches:
  - target:
      kind: Deployment
      name: inventory-system-app
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
      - op: replace
        path: /spec/template/spec/volumes/0/csi/volumeAttributes/secretProviderClass
        value: "dev-azure-keyvault-secrets"
  - target:
      kind: SecretProviderClass
      name: azure-keyvault-secrets
    patch: |-
      - op: replace
        path: /spec/parameters/userAssignedIdentityID
        value: "931819cb-d0f0-4efa-8421-239a2d6c4696"
      - op: replace
        path: /spec/parameters/keyvaultName
        value: "kv-appg5-dev"
  - target:
      kind: ConfigMap
      name: inventory-config
    patch: |-
      - op: replace
        path: /data/ENV
        value: "dev"

commonLabels:
  environment: dev
